body{
    background-color: gainsboro;
    margin: 5%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    padding: 1%;

}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
    padding: 1%;
    
    
}
nav > a {
    text-decoration: none;
    border: 0.5px solid black;
    flex: 1;
    text-align: center;
    padding: 0.2rem;
    color: black;
}
nav {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
    padding: 0.1rem;
    color: black;
    border-radius: 0.1rem;
    background-color: whitesmoke;
   
}
.fixedFooter {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    bottom: 0px;
    background-color: whitesmoke;
    width: 90%;
    text-align: center;
    padding: 5px;
    
}
.footerContainer{
    margin-top: 5%;
    

}
.section{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 2rem auto 0 auto;
}
.section h1{
    margin: 5px;
}
.section p{
    margin-left: 0px;
}
.home > a{
    background-color: whitesmoke;
    text-decoration: none;
    border: 0.5px solid black;
    flex: 1;
    padding: 0.2rem;
    color: black;
}
.home{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.submit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    padding: 2%;
    height: 175px;
    width:175px
}
@media (max-width:768px){
    img [class="hide"]{
        display: none !important;
    }
    
}

    



